@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tax calculation website</p>
    <p>Taxes are calculated as following: 10 percent of Income not including deductions on Pension Fund and Medical Insurance</p>
</div>
